/*#########*/
/*# RESET #*/
/*#########*/

html {
  box-sizing: border-box;
  font-size: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
	color: #eee;
  background-color: #aaa;
}

/*##########*/
/*# BASICS #*/
/*##########*/

#wrapper {
	height: 90vh;
	width: 90vh;
	position: relative;
	top: 5vh;
	margin: 0 auto;
	overflow: hidden;
}

#surface {
	height: 100%;
	width: 100%;
	position: absolute;
	border: 2px solid pink;
}

footer {
	height: 30px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
	width: 100%;
}

button {
	font-size: 20px;
}

#frame-type {
	font-size: 26px;
}
